@import './lib/helper';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

*::after,
*::before {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: inherit;
}

$border: 1px solid $color-l1;


.site-page {
    min-height: 100vh;

    >.site-header {
        padding: $padding;
        border-bottom: $border;

        >.logo {
            display: flex;
            align-items: center;

            .logo-img {
                width: 60px;
                height: 60px;
            }
        }
    }

    .site-aside {
        border-right: $border;

        ul {
            li {
                a {
                    display: block;
                    padding: 8px $padding;

                    &:hover {
                        color: $color-main;
                    }

                    &.active {
                        color: white;
                        background: $color-main;
                    }
                }
            }
        }

    }

    .site-main {
        padding: $padding;

    }

    >.site-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: $border;
        padding: $padding 0;
    }
}